<section class="page-template">
  <div class="page-template__content">
    <h1 class="page-template__title">{{ page.title }}</h1>
    <div class="page-template__body">{{ page.content }}</div>
  </div>
</section>

{% schema %}
{
  "name": "Page content",
  "settings": []
}
{% endschema %}
